ul.meal {
    display: flex;
    list-style-type: none;
    padding: initial;

    li {
        cursor: pointer;
        flex: 1;
        text-align: center;
        background-color: #555;
        color: #d3d3d3;

        &.on {
            background-color: #888;
            color: #f3f3f3;
        }
    }
}

ul.cafe-filter {
    list-style-type: none;
    display: inline-block;
    vertical-align: bottom;
    padding: initial;
    margin: initial;
    font-size: 14px;

    li {
        cursor: pointer;
        color: #f3f3f3;
        opacity: .5;
        display: inline-block;
        text-transform: uppercase;
        padding: 2px 5px;
        border-radius: 3px;

        &.on {
            opacity: 1;
        }
        
        &.A {
            background-color: #e88705;
        }

        &.B {
            background-color: #e5ac05;
        }
    }
}

.filter {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background-size: 24px;
}