ul.meal {
    display: flex;
    list-style-type: none;
    margin: 16px 8px;
    padding: initial;

    li {
        cursor: pointer;
        flex: 1;
        text-align: center;
        background-color: #555;
        color: #d3d3d3;

        &.on {
            background-color: #888;
            color: #f3f3f3;
        }
    }
}