<div class="dela-card" ng-class="{fold:!unfold}">
    <div class="dela-card-header">
        <span class="cal-level {{::calLevel}}">{{::calLabel}}</span>
    </div>
    <div class="dela-card-content">
        <img ng-src="{{::menu.imgSrc}}" alt="{{::menu.en}}" />
        <div class="dela-card-section {{::menu.sectionId}}">
            {{::menu.sectionName}}
        </div>
        <div class="dela-card-menu" ng-click="toggle()">
            <p><span class="title-ko">{{::menu.ko}}</span></p>
            <p><span class="title-en">{{::menu.en}}</span></p>
            <p>{{::calories | number}} kcal</p>
            <p ng-if="!menu.soldout"><span class="price">{{::price | number}} 원</span> <span class="discounted">({{::discounted | number}} 원)</span></p>
            <p ng-if="menu.soldout"><span class="soldout">SOLD OUT</span></p>
        </div>

        <!--<div class="dela-card-footer"> 
            <div class="gauge">
                <div class="good">50.0%</div>
                <div class="bad">50.0%</div>
            </div>
            <span class="btn good" ng-click="good()">Good</span>
            <span class="btn bad" ng-click="bad()">Bad</span>
        </div>-->
    </div>
</div>