<div>
    <div class="dela-card-header">
        <span class="cal-level {{::calLevel}}">{{::calLevel}}</span>
    </div>
    <div class="dela-card-content">
        <div class="dela-card-section">
            {{::menu.sectionName}}
        </div>
        <div class="dela-card-menu">
            <div class="menu">
                <p><span>{{::menu.ko}}</span></p>
                <p><span>{{::menu.en}}</span></p>
                <p ng-if="!menu.soldout"><span>{{::price | number}} 원</span> <span>{{::discounted | number}} 원</span></p>
                <p ng-if="menu.soldout"><span class="soldout">SOLD OUT</span></p>
                <p>{{::calories | number}} kcal</p>
            </div>
            <div class="image">
                <img ng-src="{{::menu.imgSrc}}" alt="{{::menu.en}}" />
            </div>
        </div>
    </div>
    <div class="dela-card-footer">
        
    </div>
</div>