<div class="dela-card" ng-class="{fold:!unfold}">
    <div class="dela-card-header">
        <span class="cal-level {{::calLevel}}">{{::calLabel}}</span>
        <span class="zone {{::menu.zoneId}}">{{::zoneName}}</span>
    </div>
    <div class="dela-card-content">
        <img ng-src="{{::menu.imgSrc}}" alt="{{::menu.en}}" />
        <div class="dela-card-section {{::menu.sectionId}}">
            {{::menu.sectionName}}
        </div>
        <div class="dela-card-menu" ng-click="toggle()">
            <p><span class="title-ko">{{::menu.ko}}</span></p>
            <p><span class="title-en">{{::menu.en}}</span></p>
            <p>{{::calories | number}} kcal</p>
            <p ng-if="!menu.soldout"><span class="price">{{::price | number}} 원</span> <span class="discounted">({{::discounted | number}} 원)</span></p>
            <p ng-if="menu.soldout"><span class="soldout">SOLD OUT</span></p>
        </div>

        <div class="dela-card-footer">
            <div class="vote">
                <div class="gauge-box">                    
                    <span class="gauge gauge-good" ng-style="{width:likes + '%'}"><b>{{likes}}%</b></span>
                    <span class="gauge gauge-bad" ng-style="{width:dislikes + '%'}"><b>{{dislikes}}%</b></span>
                </div>
                <div class="btn btn-good" ng-click="good()">
                    <span class="badge">{{like | badge}}</span>
                </div>
                <div class="btn btn-bad" ng-click="bad()">
                    <span class="badge">{{dislike | badge}}</span>
                </div>
            </div>
        </div>
    </div>
</div>