.let_it_snow {
  position: fixed;
  width: 25px;
  height: 25px;
  @include vendor-prefix(animation-timing-function, ease-out);
  z-index: 1000;
  pointer-events: none;
}

.let_it_snow.snow_type_1 {
  background: transparent url(images/snow1.png) center center no-repeat;
}

.let_it_snow.snow_type_2 {
  background: transparent url(images/snow2.png) center center no-repeat;
}

.let_it_snow.snow_duration_1 {
  @include vendor-prefix(animation-duration, 8s);
}

.let_it_snow.snow_duration_2 {
  @include vendor-prefix(animation-duration, 7s);
}

.let_it_snow.snow_duration_3 {
  @include vendor-prefix(animation-duration, 6s);
}

.let_it_snow.snow_duration_4 {
  @include vendor-prefix(animation-duration, 5s);
}

.let_it_snow.snow_duration_5 {
  @include vendor-prefix(animation-duration, 4s);
}

.let_it_snow.snow_delay_1 {
  @include vendor-prefix(animation-delay, 5s);
}

.let_it_snow.snow_delay_2 {
  @include vendor-prefix(animation-delay, 4s);
}

.let_it_snow.snow_delay_3 {
  @include vendor-prefix(animation-delay, 3s);
}

.let_it_snow.snow_delay_4 {
  @include vendor-prefix(animation-delay, 2s);
}

.let_it_snow.snow_delay_5 {
  @include vendor-prefix(animation-delay, 1s);
}

.let_it_snow.snow_anim_1 {
  @include vendor-prefix(animation-name, snow_anim_1, snow_anim_fade);
}

.let_it_snow.snow_anim_2 {
  @include vendor-prefix(animation-name, snow_anim_2, snow_anim_fade);
}

.let_it_snow.snow_anim_3 {
  @include vendor-prefix(animation-name, snow_anim_3, snow_anim_fade);
}

.let_it_snow.snow_anim_4 {
  @include vendor-prefix(animation-name, snow_anim_4, snow_anim_fade);
}

.let_it_snow.snow_anim_5 {
  @include vendor-prefix(animation-name, snow_anim_5, snow_anim_fade);
}

@keyframes snow_anim_fade {
  0%   { opacity: 1; }
  60%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes snow_anim_1 {
  0%   { @include vendor-prefix(transform, translate(0, 0) rotate(0deg)); }
  100% { @include vendor-prefix(transform, translate(-70px, 630px) rotate(70deg)); }
}

@keyframes snow_anim_2 {
  0%   { @include vendor-prefix(transform, translate(0, 0) rotate(0deg)); }
  100% { @include vendor-prefix(transform, translate(70px, 640px) rotate(-70deg)); }
}

@keyframes snow_anim_3 {
  0%   { @include vendor-prefix(transform, translate(0, 0) rotate(0deg)); }
  100% { @include vendor-prefix(transform, translate(30px, 550px) rotate(45deg)); }
}

@keyframes snow_anim_4 {
  0%   { @include vendor-prefix(transform, translate(0, 0) rotate(0deg)); }
  100% { @include vendor-prefix(transform, translate(-30px, 600px) rotate(-45deg)); }
}

@keyframes snow_anim_5 {
  0%   { @include vendor-prefix(transform, translate(0, 0) rotate(0deg)) }
  100% { @include vendor-prefix(transform, translate(0px, 660px) rotate(50deg)) }
}