@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

* {
  margin: 0;
}

html {
  @include vendor-prefix(text-size-adjust, 100%); /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin-top: 60px;
  margin-bottom: 130px;
  background-color: #0b2c19;
  color: #3f3f3f;
  font-family: 'Noto Sans KR', sans-serif;
}

div {
  display: inline-block;
}

ul {
  padding: 0;
}

.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 49px;
  padding: 15px 10px 10px 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  color: #381909;
  background-color: #d6a066;
  @include vendor-prefix(box-shadow, #3b1c0a 0 1px 10px);
  
  .sort {
    display: inline-block;
    float: right;
    margin: 0 10px;
    padding: 0 5px;
    height: 20px;
    color: #d6a066;
    font-size: 10px;
    background-color: #815b32;
    border-radius: 3px;
    box-shadow: #381909 2px 2px 2px;
    
    b {
      font-size: 14px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 2px 10px;
  font-size: 12px;
  box-sizing: border-box;
  margin-top: 5px;
  background-color: #ffffff;
  opacity: 0.9;
  white-space: nowrap;
  overflow: hidden;
  @include vendor-prefix(box-shadow, #3b1c0a 0 -1px 10px);
  
  > a {
    display: block;
    height: 25px;
    text-decoration: none;
    color: #000000;
    margin-top: 0;

    &:visited, &:hover {
      color: #000000;
    }
    
    &.out {
      margin-top: -25px;
    }

    img {
      vertical-align: middle;
    }
    
    .weather-main {
      font-weight: bold;
    }

    .region {
      font-size: 11px;
      font-weight: normal;
    }
    
    .weather-more {
      font-family: sans-serif;
      font-size: 6px;
      font-weight: bold;
      color: #555555;
    }
   
    &.sds-stock {
      line-height: 28px;

      img {
        vertical-align: baseline;
        padding: 0 10px;
      }
      
      .stock-change {
        font-weight: bold;

        &.red {
          color: #B94A48;
        }

        &.blue {
          color: #003366;
        }
      }
    }
  }
}

.closed {
  width: 100%;
  text-align: center;
  color: #577620;
  font-size: 14px;
  font-weight: bold;
  margin: 50px 0;
}

.loading-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #888888;
  opacity: 0.3;
  
  img {
    position: absolute;
    width: 50px;
    top: 25px;
    left: -25px;
    margin-top: 50%;
    margin-left: 50%;
  }
}


.slide {
  transition: margin-top 0.5s ease-in-out;
}


@import "card";