<p class="time">{{dela.time}}</p>
<div *ngIf="!!dela.opened">
  <div class="filter" delaFolder="40px" [class.on]="hasFiltered()">
    <span class="filter-more" (click)="fold()"></span>
    <span class="filters" (click)="clear()"></span>
    <ul>
      <li class="B1" [class.on]="zoneFilter.isFiltered('B1')" (click)="zoneFilter.toggle('B1')">B1</li>
      <li class="B2" [class.on]="zoneFilter.isFiltered('B2')" (click)="zoneFilter.toggle('B2')">B2</li>
    </ul>
    <ul>
      <li class="super-high" [class.on]="calorieFilter.isFiltered('super-high')" (click)="calorieFilter.toggle('super-high')">초고</li>
      <li class="high" [class.on]="calorieFilter.isFiltered('high')" (click)="calorieFilter.toggle('high')">높은</li>
      <li class="normal" [class.on]="calorieFilter.isFiltered('normal')" (click)="calorieFilter.toggle('normal')">표준</li>
      <li class="low" [class.on]="calorieFilter.isFiltered('low')" (click)="calorieFilter.toggle('low')">낮은</li>
      <li class="super-low" [class.on]="calorieFilter.isFiltered('super-low')" (click)="calorieFilter.toggle('super-low')">초저</li>
    </ul>
  </div>
  <div class="dela-card-list">
    <dela-card *ngFor="let menu of getFilteredMenus()" [menu]=menu></dela-card>
  </div>
</div>

<div class="closed" *ngIf="dela.opened === false">
  <p>지금은 영업중이 아닙니다.</p>
  <p>We're closed now</p>
</div>

<div class="page-info">
    <p>메뉴 내용은 모두 <a href="http://sdsfoodmenu.co.kr:9106/foodcourt/menuplanner/list" target="_blank">Delacourt for SDS</a>에 권리가 있습니다.</p>
    <p>더 좋은 사이트가 될 수 있도록 <a href="http://github.com/asunhs/dela" target="_blank">Github</a>에 참여해주세요</p>
</div>