ul.cafe-filter {
    list-style-type: none;
    display: inline-block;
    vertical-align: bottom;
    padding: initial;
    margin: initial;
    font-size: 14px;

    li {
        cursor: pointer;
        color: #f3f3f3;
        opacity: .7;
        display: inline-block;
        text-transform: uppercase;
        padding: 2px 5px;
        border-radius: 3px;

        &.on {
            opacity: 1;
        }
        
        &.B1 {
            background-color: #e88705;
        }

        &.B2 {
            background-color: #e5ac05;
        }
    }
}

.filter {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background-size: 24px;
}