ul {
    list-style-type: none;
    padding: initial;
    margin: initial;
    float: right;

    li {
        cursor: pointer;
        color: #d3d3d3;
        background-color: #375600;
        display: inline-block;
        padding: 2px 5px;
        border-radius: 3px;

        &.on {
            color: #f3f3f3;
            background-color: #577620;
        }
    }
}