<div class="dela-card-header">  
  <span [class]="menu.sectionId">{{menu.sectionName}}</span>
  <span [class]="menu.cal | calories">{{menu.cal | calories:"name"}}</span>
  <span [class]="menu.zoneId">{{menu.zoneId}}</span>
</div>

<div class="dela-card-content">
  <span class="dela-card-image">
    <img [src]="menu.imgSrc" [alt]="menu.ko" onError="this.src = 'assets/images/no-image.png'"/>
  </span>
  
  <span class="dela-card-menu">{{menu.ko | unescape}}</span>
  <span class="dela-card-description">{{menu.en | unescape}}</span>
  <span class="dela-card-calories">{{menu.cal}}</span>
  <span *ngIf="!menu.soldout" class="dela-card-price">{{menu.price}} <b>({{menu.price | toNumber | discount | number }}원)</b></span>
  <span *ngIf="menu.soldout" class="dela-card-soldout">SOLD OUT</span>
</div>