@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  background-color: #0b2c19;
  color: #d6a066;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

header {
  font-size: 15px;
  font-weight: bold;
  margin: 15px 8px;
}

dela-root {
  > img {
    width: 100%;
    margin: auto;
  }
}

.time {
    text-align: right;
    font-size: 13px;
    margin: 0 8px;
}

.closed {
  width: 100%;
  text-align: center;
  color: #577620;
  font-size: 14px;
  font-weight: bold;
  margin: 50px 0;
}

.page-info {
    font-size: 12px;
    padding: 10px;
    margin-top: 20px;
}

.page-info, .page-info a, .page-info a:hover, .page-info a:visited {
    color: #577620;
}

.filter {
    overflow: hidden;
    padding: 3px 8px 5px 35px;
    margin: 16px 0;
    background-color: #001c09;
    border-top: 2px solid #000c00;

    &.fold {
        height: 40px;
    }

    &::before {
        content: "";
        margin-left: -28px;
        margin-right: -2px;
        vertical-align: middle;
        display: inline-block;
        opacity: .5;
        width: 26px;
        height: 26px;
        background-size: 26px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABL0lEQVR42mNggAHPXHbN0OJ8/ZiaUwaxtd8M4+v+UxODzASZDbIDZBcDMlDxTJHRi66+aJTU/N84uYWmGGQHyC6QnXCfgwRobTE6BtkJDglQkNDD59hCAhwdoHiht+UwDLKbAZQ4BsoBILsZQCl0oBwAsnvUAXgdEFg17X9a1yKKcHD1dPIdsOnIhf+Ugh0nr5DvgBV7T1HsgPUHz5HvANusrv/nbz0i2/Ir9578t8/ppiwRkuuIywQsJykXkOoIYiwnORsS6whiLSerHCDkCFIsJ7sggjjiIcWWU1QSggoXdBDZMJt+RXFA5VQMB4TVzRx1wAhygHfppP///v1DcQCo5qRre6Bo8qr/6w+d+7/h0Pn/pdPWDOEGyYA3Sge8WT7gHZMB75oNfOd0gLvnAFdyIvU/FCC4AAAAAElFTkSuQmCC');
    }

    &.on::before {
        opacity: 1;
    }

    ul {
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        margin: 3px 10px;
        padding: initial;
        font-size: 14px;

        li {
            min-width: 50px;
            text-align: center;
            box-sizing: border-box;
            height: 26px;
            cursor: pointer;
            color: #f3f3f3;
            opacity: .5;
            display: inline-block;
            text-transform: uppercase;
            padding: 2px 5px;
            margin: 4px 2px;
            border-radius: 3px;

            &.on {
                opacity: 1;
            }
        }
    }

    .filter-more {
        cursor: pointer;
        float: right;
        vertical-align: middle;
        margin: 4px 0;
        width: 26px;
        height: 26px;
        background-size: 26px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAQElEQVR42u3UyQkAIAwEQDu0/w7sIiqIL78e4AzkvQuBTQkYIiK3K7Ffz8irAifCZ4knC9x9AdgBOwB2wA7AtypY5DCk9JZmiwAAAABJRU5ErkJggg==');
    }
}

.dela-card-list {
    display: flex;
    flex-wrap: wrap;
    
    .dela-card {
        display: inline-block;
        margin: 0 8px;
        flex: 1 1;
    }

    @media screen and (min-width: 300px) {
        .dela-card {
            min-width: 300px;
            flex: 1 1 300px;
        }
    }

    @media screen and (min-width: 480px) {
        .dela-card {
            min-width: 400px;
            flex: 1 1 400px;
        }
    }
}



        
.B1 {
    background-color: #e88705;
}

.B2 {
    background-color: #e5ac05;
}
        
.A {
    background-color: #e88705;
}

.B {
    background-color: #e5ac05;
}

.super-high {
    background-color: #b70f0f;
}

.high {
    background-color: #e07070;
}

.normal {
    background-color: #9dc8d6;
}

.low {
    background-color: #577620;
}

.super-low {
    background-color: #90ee90;
}