$card-height: 100px;

* {
    box-sizing: border-box;
}

.dela-card-header {
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    display: flex;

    span {
        padding: 2px 10px;
        background-color: #9dc8d6;

        &:first-child {
            flex: 1;
        }
        
        &.A {
            background-color: #e88705;
        }

        &.B {
            background-color: #e5ac05;
        }

        
        &.super-high {
            background-color: #b70f0f;
        }

        &.high {
            background-color: #e07070;
        }

        &.normal {
            background-color: #9dc8d6;
        }

        &.low {
            background-color: #577620;
        }

        &.super-low {
            background-color: #90ee90;
        }

        

        &.b_spring, &.b_dodam, &.b_01, &.b_02, &.dodam_01, &.gosel {
            background-color: #b45d10;
        }

        &.b_woori {
            background-color: #e88705;
        }

        &.b_gats, &.b_04 {
            background-color: #e5ac05;
        }

        &.b_snap, &.b_snap_snack, &.b_health_salad, &.b_health_juice, &.b_to_sandwich, &.b_to_bread, &.b_to_fruit, &.b_to_juice, &.b_to_pizza, &.b_to_picnic, &.b_to_bibim, &.b_03 {
            background-color: #59aa31;
        }

        &.b_brown, &.b_health_korean {
            background-color: #8a36be;
        }

        &.b_health_theme, &.b_health_bibim, &.b_health_special, &.b_08, &.b_09, &.healthy {
            background-color: #31aa8b;
        }

        &.b_singfu, &.b_05, &.china_01, &china_02 {
            background-color: #b70f0f;
        }
    }
}

div.dela-card {
    background-color: #f9f9f9;
    color: #3f3f3f;
    width: 100%;
    height: $card-height;
    position: relative;
    
    padding: 10px;
    margin-bottom: 10px;

    span {
        white-space: nowrap;
        overflow: hidden;
    }
}

span {
    display: block;
}

.dela-card-menu {
    font-size: 16px;
}

.dela-card-description {
    font-size: 10px;
    color: #afafaf;
}

.dela-card-calories {
    font-size: 12px;
    margin-top: 20px;
}